name: Build and Deploy Dist

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Install deps
        run: npm i

      - name: Generate dist output
        run: node .github/scripts/generate-dist.js

      - name: Build all
        run: npm run build

      - name: Deploy to dist branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git checkout --orphan dist

          rm package.json
          rm -rf packages
          cp -r dist/* .

          git reset -q HEAD --

          FILES="package.json index.d.ts index.js packages"
          git add -f -A $FILES

          git commit -m "Deploy to dist"
          git push origin dist --force

      - name: Deploy to pkg dist branch
        run: node .github/scripts/deploy-dist.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
